@media only screen and (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    .nav-links.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main {
        grid-template-columns: 1fr;
    }

    .discover-main {
        grid-template-columns: 1fr;
    }

    .gallery {
        grid-template-columns: 1fr;
    }

    .gallery img:hover {
        transform: none;
    }

    .form-container {
        flex-direction: column;
    }

    .form-container form {
        width: 100%;
    }

    .membership-benefits {
        width: 100%;
        margin-left: 0;
    }
}
