@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Wix+Madefor+Display&display=swap');

body {
    background-color: #f9f7f0;
    color: #072a40;
    font-family: "Wix Madefor Display", "Helvetica", sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.header_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #0f4e52;
    color: #f9f7f0;
    text-align: center;
}

.profile_pic {
    width: 10rem;
    height: auto;
    border-radius: 50%;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    background-color: #18b7be;
    padding: 30px 0;
    text-align: center;
    margin-top: 0;
}

nav a {
    text-decoration: none;
    color: #000000;
    font-family: "Wix Madefor Display", "Helvetica", sans-serif;
    padding: 30px;
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    background-color: #178ca4;
    color: #000000;
}

nav a:focus,
nav a.active {
    color: #072a40;
    background-color: #008dc5;
}

.main_content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
}

main h1 {
    text-align: center;
    grid-column: 1 / -1;
}

.learning_activities,
.information {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f9f9f9;
}

.learning_activities h2,
.information h2 {
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin: 0;
}

.learning_activities ul {
    list-style-type: none;
}

footer {
    background-color: #18b7be;
    color: #000000;
    font-family: "Wix Madefor Display", "Helvetica", sans-serif;
    padding: 15px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#flag {
    height: 1rem;
    width: auto;
}

#hamburger {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: #f9f7f0;
    cursor: pointer;
}



body.dark-mode {
    background-color: #333;
    color: #f9f7f0;
}
.dark-mode-button {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1rem;
    background: none;
    border: none;
    color: #f9f7f0;
    cursor: pointer;
}
.header_content.dark-mode {
    background-color: #222;
    color: #f9f7f0;
}

nav ul.dark-mode {
    background-color: #444;
}

nav a.dark-mode {
    color: #f9f7f0;
}

nav a.dark-mode:hover {
    background-color: #555;
    color: #f9f7f0;
}

.learning_activities.dark-mode,
.information.dark-mode {
    background-color: #444;
    border-color: #555;
}

footer.dark-mode {
    background-color: #222;
    color: #f9f7f0;
}