@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Wix+Madefor+Display&display=swap');

@media screen and (min-width: 600px) {
    nav ul {
        flex-direction: row;
        justify-content: center;
    }

    .main_content {
        grid-template-columns: 1fr 1fr;
    }

    main h1 {
        grid-column: 1 / -1;
        text-align: center;
    }
}
